<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Olaf Gladis">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>
        
        
        Wilsonfontein - Hunting Safaris en Namibie / Afrique 
    </title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="/css/sticky-footer-navbar.css" rel="stylesheet"> -->
    <link href="/css/wilson.css" rel="stylesheet">
    <link href="/js/leaflet.css" rel="stylesheet">
    <link href="/css/lightbox.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    
    <div class="navbar navbar-default " role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Project name</a> -->
        </div>
        <div class="navbar-header">
        <div class="logo-wrapper">
          <div class="logo">
            <img src="/img/leo.svg">
          </div>
        </div>
          <ul class="nav navbar-nav push_logo">
            
            
              <li ><a href="/fr/index.html">Home</a></li>
            
            
            
              <li ><a href="/fr/localisation.html">Localisation</a></li>
            
            
            
              <!-- <li ><a href="/fr/chasse.html">Chasse</a></li> -->
            
            
            
              <li ><a href="/fr/detente.html">Détente</a></li>
            
            
            
            
            
            
            
            
            
            
            
            
          </ul>
        </div>

        <div class="collapse navbar-collapse push_logo">
          <ul class="nav navbar-nav">
            
            
            
            
            
            
            
            
            
            
              <li class="active"><a href="/fr/photos/">Photos</a></li>
            
            
            
              <!--<li ><a href="/fr/tarifs.html">Tarifs</a></li>-->
            
            
            
              <li ><a href="/fr/contact.html">Contact</a></li>
            
            
            
              <li ><a href="/fr/hommage.html">Hommage</a></li>
            
            
            
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> fr <b class="caret"></b></a>
              <ul class="dropdown-menu">
                
                  <li><a href="/en/photos/" datafoo=':|:|' class="en">en</a></li>
                
                  <li><a href="/de/fotos/" datafoo=':|:|' class="de">de</a></li>
                
                  <li><a href="/fr/photos/" datafoo=':|:|' class="fr">fr</a></li>
                
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Photos <small>avant-première</small></h1>
      </div>
      <div class="album container">
<div class="col-12">
<h2><a href="/fr/photos/plantes/">Plantes</a></h2>
<div class="album-imgs preview">
  
  






    


<div class="col-xs-4 col-md-2 image">
    <a href="{{ site.url }}/img/photos/{{ pic.url }}">
    <img src="/img/thumbs/hottentottenkirche2.jpg" class="img-thumbnail center img-responsive" alt="Hottentotten
Church" title="Hottentotten
Church"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/plantes/">
    <img src="/img/thumbs/P1000515.JPG" class="img-thumbnail center img-responsive" alt="P1000515" title="P1000515"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/plantes/">
    <img src="/img/thumbs/P1000516.JPG" class="img-thumbnail center img-responsive" alt="Euphoribia Monteroi" title="Euphoribia Monteroi"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/plantes/">
    <img src="/img/thumbs/IMG_3112.JPG" class="img-thumbnail center img-responsive" alt="Jung und Alt" title="Jung und Alt"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/plantes/">
    <img src="/img/thumbs/DSC_0393.JPG" class="img-thumbnail center img-responsive" alt="DSC_0393" title="DSC_0393"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/plantes/">
    <img src="/img/thumbs/IMG_0735.JPG" class="img-thumbnail center img-responsive" alt="IMG_0735" title="IMG_0735"/></a>
</div>

<p></div>
<a href="/fr/photos/plantes/">Voir l&#39;album complet</a>
</div>
</div></p>

<div class="album container">
<div class="col-12">
<h2><a href="/fr/photos/spycam/">Spycam</a></h2>
<div class="album-imgs preview">
  
  




    



    


<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/spycam/">
    <img src="/img/thumbs/PICT0410.JPG" class="img-thumbnail center img-responsive" alt="PICT0410" title="PICT0410"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/spycam/">
    <img src="/img/thumbs/PICT0386.JPG" class="img-thumbnail center img-responsive" alt="PICT0386" title="PICT0386"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/spycam/">
    <img src="/img/thumbs/PICT0238.JPG" class="img-thumbnail center img-responsive" alt="PICT0238" title="PICT0238"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/spycam/">
    <img src="/img/thumbs/PICT0135.JPG" class="img-thumbnail center img-responsive" alt="PICT0135" title="PICT0135"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/spycam/">
    <img src="/img/thumbs/PICT0068.JPG" class="img-thumbnail center img-responsive" alt="PICT0068" title="PICT0068"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/spycam/">
    <img src="/img/thumbs/MDGC0416.JPG" class="img-thumbnail center img-responsive" alt="MDGC0416" title="MDGC0416"/></a>
</div>

<p></div>
<a href="/fr/photos/spycam/">Voir l&#39;album complet</a>
</div>
</div></p>

<div class="album container">
<div class="col-12">
<h2><a href="/fr/photos/recreation/">Recreation</a></h2>
<div class="album-imgs preview">
  
  




    



    


<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/recreation/">
    <img src="/img/thumbs/leo_bad1.jpg" class="img-thumbnail center img-responsive" alt="leo_bad1" title="leo_bad1"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/recreation/">
    <img src="/img/thumbs/zebra_bad2.jpg" class="img-thumbnail center img-responsive" alt="zebra_bad2" title="zebra_bad2"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/recreation/">
    <img src="/img/thumbs/esszimmer.jpg" class="img-thumbnail center img-responsive" alt="esszimmer" title="esszimmer"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/recreation/">
    <img src="/img/thumbs/sundowner.JPG" class="img-thumbnail center img-responsive" alt="sundowner" title="sundowner"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/recreation/">
    <img src="/img/thumbs/zebra_bett1.jpg" class="img-thumbnail center img-responsive" alt="zebra_bett1" title="zebra_bett1"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/recreation/">
    <img src="/img/thumbs/leo_bett1.jpg" class="img-thumbnail center img-responsive" alt="leo_bett1" title="leo_bett1"/></a>
</div>

<p></div>
<a href="/fr/photos/recreation/">Voir l&#39;album complet</a>
</div>
</div></p>

<div class="album container">
<div class="col-12">
<h2><a href="/fr/photos/animaux/">Animaux</a></h2>
<div class="album-imgs preview">
  
  




    



    


<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/animaux/">
    <img src="/img/thumbs/PIC01140.JPG" class="img-thumbnail center img-responsive" alt="PIC01140" title="PIC01140"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/animaux/">
    <img src="/img/thumbs/IMGP3849.JPG" class="img-thumbnail center img-responsive" alt="IMGP3849" title="IMGP3849"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/animaux/">
    <img src="/img/thumbs/IMGP3570.JPG" class="img-thumbnail center img-responsive" alt="IMGP3570" title="IMGP3570"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/animaux/">
    <img src="/img/thumbs/PHI0802.JPG" class="img-thumbnail center img-responsive" alt="_PHI0802" title="_PHI0802"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/animaux/">
    <img src="/img/thumbs/PHI0584.JPG" class="img-thumbnail center img-responsive" alt="_PHI0584" title="_PHI0584"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/animaux/">
    <img src="/img/thumbs/IMG_1664.JPG" class="img-thumbnail center img-responsive" alt="IMG_1664" title="IMG_1664"/></a>
</div>

<p></div>
<a href="/fr/photos/animaux/">Voir l&#39;album complet</a>
</div>
</div></p>

<div class="album container">
<div class="col-12">
<h2><a href="/fr/photos/action/">Action</a></h2>
<div class="album-imgs preview">
  
  




    



    


<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/action/">
    <img src="/img/thumbs/wasserloch.jpg" class="img-thumbnail center img-responsive" alt="Puddle" title="Puddle"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/action/">
    <img src="/img/thumbs/duenen.jpg" class="img-thumbnail center img-responsive" alt="duenen" title="duenen"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/action/">
    <img src="/img/thumbs/dune_ride.jpg" class="img-thumbnail center img-responsive" alt="dune_ride" title="dune_ride"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/action/">
    <img src="/img/thumbs/geschafft.jpg" class="img-thumbnail center img-responsive" alt="geschafft" title="geschafft"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/action/">
    <img src="/img/thumbs/klettern.jpg" class="img-thumbnail center img-responsive" alt="klettern" title="klettern"/></a>
</div>

<p></div>
<a href="/fr/photos/action/">Voir l&#39;album complet</a>
</div>
</div></p>

<div class="album container">
<div class="col-12">
<h2><a href="/fr/photos/paysage/">Paysage</a></h2>
<div class="album-imgs preview">
  
  






    


<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/paysage/">
    <img src="/img/thumbs/hottentottenkirche2.jpg" class="img-thumbnail center img-responsive" alt="Hottentotten
Church" title="Hottentotten
Church"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/paysage/">
    <img src="/img/thumbs/IMGP3849.JPG" class="img-thumbnail center img-responsive" alt="IMGP3849" title="IMGP3849"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/paysage/">
    <img src="/img/thumbs/IMGP3570.JPG" class="img-thumbnail center img-responsive" alt="IMGP3570" title="IMGP3570"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/paysage/">
    <img src="/img/thumbs/IMG_6889 Kopie.jpg" class="img-thumbnail center img-responsive" alt="IMG_6889 Kopie" title="IMG_6889 Kopie"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/paysage/">
    <img src="/img/thumbs/DSC_0393.JPG" class="img-thumbnail center img-responsive" alt="DSC_0393" title="DSC_0393"/></a>
</div>

<div class="col-xs-4 col-md-2 image">
    <a href="/fr/photos/paysage/">
    <img src="/img/thumbs/DSC_0524.JPG" class="img-thumbnail center img-responsive" alt="DSC_0524" title="DSC_0524"/></a>
</div>

<p></div>
<a href="/fr/photos/paysage/">Voir l&#39;album complet</a>
</div>
</div></p>


    </div>
    <!-- End page content -->
    <div id="footer">
      <div class="container">
        <p class="text-muted">
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
            <a href="/fr/empreinte.html" class="footerlink">Empreinte</a>
          
          
          <span class="pull-right">&copy; Olaf 2014</span>
        </p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/lightbox.min.js"></script>
  </body>
</html>
